In [43]:
import pandas as pd
df = pd.read_csv('titanic.csv').drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns')
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [44]:
import math
avg = math.ceil(df.Age.mean())
df.Age = df.Age.fillna(avg)

In [45]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [46]:
sex_n = le_sex.fit_transform(df.Sex)
df['sex_n'] = sex_n
df = df.drop('Sex', axis='columns')
df.head()

   Survived  Pclass   Age     Fare  sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [47]:
X = df.drop(['Survived'], axis='columns')
X

     Pclass   Age     Fare  sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3  30.0  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [48]:
y = df.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [50]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [51]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [53]:
model.score(X_test, y_test)

0.7932960893854749