# Problem

<img src="./assets/03.png" />

- price = m1*area+m2*bedrooms+m3*age+b
- where area, bedrooms and age are independent variables or features. m1, m2 and m3 are coefficients and b is an intercept.
- Model building for this dataset involves to step
    1. Data preprocessing : Handling NA values
    2. Linear regression using multiple variables

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [50]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [53]:
# Data pre processing
import math
median = math.floor(df.bedrooms.median())

df.bedrooms = df.bedrooms.fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [57]:
# Train model

linearRegression = LinearRegression()
data = df[['area', 'bedrooms', 'age']]
data

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       3.0   18
3  3600       3.0   30
4  4000       5.0    8

In [60]:
linearRegression.fit(data, df['price'])
print({
    "coefficients": linearRegression.coef_,
    "interepts": linearRegression.intercept_
})

{'coefficients': array([   137.25, -26025.  ,  -6825.  ]), 'interepts': 383724.9999999998}

In [61]:
linearRegression.predict([[3000,3,40], [2500,4,5]])

array([444400., 588625.])